body, html {
    padding: 0;
    margin: 0;
    width: 100vw;
    /* height: 400rem; */
    font-family: Helvetica, Arial, sans-serif;
    /* font-family: 'Gidugu', sans-serif; */
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* .nameLogo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
} */


/* #logoName {
    background-image: url("../images/Nicholas-Love.svg");
    repeat: no-repeat;
} */

/* .imgLogo {
    min-width: 4rem;
    min-height: 2rem;
}
.imgIG {
    min-width: 4rem;
    min-height: 2rem;
} */

a {
    color: rgba(0, 0, 0, 0.7)
}

i {
    color: black;
}


/* Navigation CSS */
.navTop{
    /* background-color: whitesmoke; */
    /* height: 8.5rem; */
    justify-content: center;
    width: 100vw;
}

.headerhalfTop {
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.topLine {
    position: relative;
    margin-top: 2.5rem;
    margin-left: 200px;
    margin-right: 200px;
    background-color: black;
    height: 2px;
}

.midLine {
    position: relative;
    margin-top: 0.5rem;
    margin-left: 200px;
    margin-right: 200px;
    background-color: black;
    height: 2px;
}

.headerhalfBottom {
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 234px;
    margin-right: 234px;
    margin-top: 0px;
}

.left {
    width: 33vw;
    justify-content: left;
}
.right {
    /* width: 10vw; */
    justify-content: right;
}

.rhsMenuitems {
    display: flex;
    justify-content: flex-end;
}

.flexContainer {
    display: flex;
    align-items: center;
    /* background-color: lightblue; */
    height: 2rem;
    margin: 10px;
    padding: 15px;
}

.flexContainerIMP {
    display: flex;
    align-items: center;
    /* background-color: lightblue; */
    height: 2rem;
    margin-top: 1.5rem;
    padding: 15px;
    color: black;
}

.hamburger {
    display: hidden;
    justify-content: right;
    height: 2rem;
    width: 2rem;
}




/* Hero Section CSS */
.rectangle {
    background-color: #D06969;
    position: absolute;
    margin-left: 13.5%;
    /* margin-right: 13.5%; */
    margin-top: 10rem;
    width: 73vw;
    height: 28rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.gradientTop {
    display: flex;
    background-image: linear-gradient(180deg, whitesmoke, #d0696969);
    height: 576px;
    width: 100vw;
}


.rectangleBp4VK {
    background-color: #febc8e;
    position: absolute;
    margin-left: 13.5%;
    /* margin-right: 13.5%; */
    margin-top: 10rem;
    width: 73vw;
    height: 28rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.gradientTopBp4VK {
    display: flex;
    background-image: linear-gradient(180deg, whitesmoke, #febc8e88);
    height: 576px;
    width: 100vw;
}


.rectangleTrailTalk {
    background-color: #3b9fb5;
    position: absolute;
    margin-left: 13.5%;
    /* margin-right: 13.5%; */
    margin-top: 10rem;
    width: 73vw;
    height: 28rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.gradientTopTrailTalk {
    display: flex;
    background-image: linear-gradient(180deg, whitesmoke, #3B9FB569);
    height: 576px;
    width: 100vw;
}

.rectangleLike {
    background-color: #d06969;
    position: absolute;
    margin-left: 13.5%;
    /* margin-right: 13.5%; */
    margin-top: 10rem;
    width: 73vw;
    height: 28rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.gradientTopLike {
    display: flex;
    background-image: linear-gradient(180deg, whitesmoke, #f1d7db);
    height: 576px;
    width: 100vw;
}




/**//* MISCELLANEOUS PAGES CSS *//**/
/* Contact Form CSS */

.gradientTopForm {
    display: flex;
    background-image: linear-gradient(180deg, whitesmoke, #d0696969);
    height: 168vh;
    width: 100vw;
    /* z-index: -1; */
}
.rectangleContactFormContainer {
    background-color: whitesmoke;
    border: 2px solid;
    /* box-shadow: 5px 10px; */
    position: absolute;
    margin-left: 13.5vw;
    margin-top: 10rem;
    margin-bottom: 6rem;
    width: 73vw;
    /* height: 72rem; */
    /* justify-content: center;
    align-items: center; */
}

.formHeading {
    display: flex;
    margin-top: 4rem;
    margin-left: 10.4vw;
    margin-right: 10.4vw;
}

.form-group-Email {
    /* display: flex;
    align-items: center; */
    position: relative;
    background-color: lightblue;
    height: 5.9rem;
    margin-top: 1.5rem;
    margin-left: 10.4vw;
    margin-right: 10.4vw;
    padding: 24px;
    width: 51vw;
    /* color: black; */
}
#emailHelp {
    position: relative;
    margin-top: -1rem;
}
.form-group-MultipleSelect {
    position: relative;
    background-color: #d0696969;
    height: 9.96rem;
    margin-top: 2rem;
    margin-left: 10.4vw;
    margin-right: 10.4vw;
    padding: 24px;
    width: 51vw;
}
.form-control {
    width: 36rem;
}
.form-group-Description {
    position: relative;
    /* background-color: #e0de4b69; */
    background-color: lightyellow;
    height: 11.9rem;
    /* margin-top: 0.2rem; */
    margin-left: 10.4vw;
    margin-right: 10.4vw;
    padding: 24px;
    width: 51vw;
}
.uploadAFilequestion {
    margin-top: .5rem;
    margin-left: 10.4vw;
    margin-right: 10.4vw;
}
.form-group-InputUpload {
    /* background-color: rgba(190, 235, 190, 0.829); */
    position: relative;
    height: 6rem;
    width: 22vw;
    /* margin-top: .5rem; */
    /* margin-left: 10.4vw; */
    /* margin-right: 10.4vw; */
    /* padding: 24px; */
    /* width: 47vw; */
}
.form-control-file {
    /* background-color: rgba(190, 235, 190, 0.829); */
    /* position: relative; */
    /* height: 6rem; */
    margin-top: -1rem;
    margin-left: 10.4vw;
    margin-right: 10.4vw;
    padding: 24px;
    /* width: 47vw; */
    width: 22rem;
}

.buttonSubmit {
    margin-top: -1rem;
    margin-left: 10.4vw;
    margin-right: 10.4vw;
    margin-bottom: 2rem;
    padding: 24px;
}



/* About Me page CSS */
.rectangleAboutMeContainer {
    background-color: whitesmoke;
    border: 2px solid;
    position: absolute;
    margin-left: 13.5vw;
    margin-top: 10rem;
    margin-bottom: 6rem;
    width: 73vw;
    /* height: 38rem; */

    display: flex;
    flex-direction: row;
}

.aboutMeLHS1 {
    display: flex;
    flex-direction: column;
    width: 25vw;
    /* background-color: lightgoldenrodyellow; */
}
.meIMG {
    max-width: 24vw;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 1rem;
}

.aboutMeSummary1 {
    margin-left: 2rem;
}



.aboutMeRHS1 {
    display: flex;
    flex-direction: column;
    width: 48vw;
    /* background-color: lightblue; */
}

.rHScontentContainer1 {
    display: flex;
    flex-direction: column;
    width: 48vw;
    /* background-color: lightblue; */
}

.aboutMeRHSTopContent1 {
    /* display: flex; */
    /* position: relative; */
    margin-top: 6rem;
    margin-left: 1.2rem;
    margin-right: 2rem;
    /* background-color: red; */
}
.aboutMeRHSMiddleContent1 {
    /* display: flex; */
    /* position: relative; */
    margin-top: 0.5rem;
    margin-left: 1.2rem;
    margin-right: 2rem;
    /* background-color: red; */
}
.aboutMeRHSBottomContent1 {
    /* display: flex; */
    /* position: relative; */
    /* width: 47vw; */
    margin-top: 0.5rem;
    margin-left: 1.2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    /* background-color: red; */
}




/* Projects, Cards and Buttons CSS */
.myProjectsHeading {
    text-align: center;
}

.myProjectsHeading2 {
    margin-top:-1.36rem;
    text-align: center;
}

/* Cards CSS */
.cardImgContainer {
    display:flex;
    flex-direction: row;
    position: relative;
}
.cardImg {
    /* display: flex;
    flex-direction: row; */

    /* top: 26.1rem; */
    position: relative;
    left: 14.5%;
    /* justify-content: center; */
    /* background-color: #84d888; */
    /* border-color: black; */
    height: 200px;
    width: 22.8vw;
    margin: 5px;
    /* margin-top: 50px; */
}
.projectOne {
    background-color: #ededea;
}
.projectTwo {
    background-color: #fff6f0;
}
.projectThree {
    background-color: #f0f9ff;
}

.cardContentContainer {
    display:flex;
    flex-direction: row;
    position: relative;
    left: 14.5%;
}

.cardContent {
    /* display: flex;
    flex-direction: row; */

    /* top: 150px;
    position: relative; */
    /* justify-content: center; */
    background-color: #e7eee7;
    /* border-color: black; */
    height: 9rem;
    width: 22.8vw;
    margin: 5px;
    margin-top: -0.36rem;
    box-sizing: border-box;
    padding: 10px;
}

.projectHeading {
    margin-top: 0.2rem;
}

.projectOneBG {
    background-color: #ededea;
}
.projectTwoBG {
    background-color: #fff6f0;
}
.projectThreeBG {
    background-color: #f0f9ff;
}




/* Project CSS */
.projectDescription {
    display: flex;
    position: relative;
    left: 15vw;
    width: 70vw;
}





/* Button CSS */
.bottomButtonsContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 14.5%;
}

button {
    height: 3rem;
    width: 22.8vw;
    background-color: #76767676;
    margin: 5px;
    margin-top: -0.36rem;
}
button:hover {
    /* background-color: #c4d4c3; */
    background-color: #adeb9569;
}



.buttonOffsiteGStrail {
    width: 36vw;
    height: 4.8rem;
    /* margin-right: 16vw; */
    margin-left: 32vw;
    /* background-color: #3b9fb5; */
}
.buttonTTtext {
    color: white;
}
.buttonOffsiteGStrail:hover {
    width: 36vw;
    margin-left: 32vw;
    /* margin-right: 16vw; */
    background-color: #3b9fb5;
}
.buttonTTtext:hover {
    color: black;
}



/* Footer CSS */
.footerNav {
    position: relative;
    margin-top: 2rem;
    background-color: #d06969;
    height: 5.1rem;
    width: 100vw;
}

.footerNavItems {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    position: relative;
    margin-top: 1rem;
    
}

.footerLHS {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 1rem;
    /* justify-content: space-between; */
    margin-left: 200px;

    /* flex-direction: flex-start; */
}
.footerRHS {
    /* display: flex;
    flex-direction: row-reverse;
    position: relative; */
    /* margin-top: 1rem; */
    /* justify-content: space-between; */
    margin-right: 200px;
}




/* Project Template CSS */
.headingTitle, .contentDesignProcess {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    margin-left: 15vw;
    margin-right: 15vw;
}




/* Bootstrap Selectors CSS */
.bootstrapCardContainer {
    display: flex;
    flex-direction: row;

    width: 70vw;
    margin-top: 2rem;
    margin-left: 15vw;
}

.accordion {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-left: 15vw;
}

/* .carousel {
    height: 400px;
    width: 600px;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 23vw;
}

#carouselExampleIndicators {
    display: flex;
    flex-direction: column;

    width: 70vw;

    margin-left: 15vw;
} */

.btn {
    height: 2.5rem;
    justify-content: center;
}





/* Gallery Grid CSS */
#galleryGridLikely {
    /* height: 36vh; */
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 12vw 12vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "leftHero noodles1 noodles2"
    "leftHero longProtos longProtos";
}
#leftHero {
    grid-area: leftHero;
    background-image: url("../images/01.likely-leftHero.png");
}
#noodles1 {
    grid-area: noodles1;
    background-image: url("../images/02.likely-noodles1.png");
}
#noodles2 {
    grid-area: noodles2;
    background-image: url("../images/03.likely-noodles2.png");
}
#longProtos {
    grid-area: longProtos;
    background-image: url("../images/04.likely-longProtos.png");
}




.categoryGridArea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
}




#galleryGridBP4VK {
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 12vw 12vw 12vw 12vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "topHero topHero topHero"
    "topHero topHero topHero"
    "currentVproposed styleTile mobileProto"
    "siteNewIA siteNewIA mobileProto";
}

#topHero {
    grid-area: topHero;
    background-image: url("../images/01.bp4vk-top.png");
}
#currentVproposed {
    grid-area: currentVproposed;
    background-image: url("../images/02.bp4vk-currentVproposed.png");
}
#styleTile {
    grid-area: styleTile;
    background-image: url("../images/03.bp4vk-style-tile.png");
}
#mobileProto {
    grid-area: mobileProto;
    background-image: url("../images/04.bp4vk-mobile-proto.png");
}
#siteNewIA {
    grid-area: siteNewIA;
    background-image: url("../images/G05.bp4vk-siteNewIA.png");
}

/* #bookcases {
    grid-area: bookcases;
    background-image: url("../images/bookcases@2x.png");

}
#bedroom {
    grid-area: bedroom;
    background-image: url("../images/beds@2x.png");
}
#couches {
    grid-area: couches;
    background-image: url("../images/couch@2x.png");
}
#patio {
    grid-area: patio;
    background-image: url("../images/patio@2x.png");
} */




/* w3schools Download Button CSS */
.btnDL {
    background-color: rgb(185, 202, 224);
    /* background-image: linear-gradient(to bottom right, #D25A9B22, #74CFDB22) */
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    align-items: center;
    margin-left: 25vw;
    /* height: 4rem; */
    height: 16vh;
    border-radius: 25px;
}
.dlWords {
    color: black;
    font-size: 20px;
}

/* Darker background on mouse-over */
.btnDL:hover {
    background-color: RoyalBlue;
}





/* w3schools ACCORDION CSS */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 12px;
    width: 70vw;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 0.2rem;
}
  
.active, .accordion:hover {
    background-color: #ccc; 
}
  
.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}


.accordionText {
    width: 66vw;
    margin-top: 1rem;
    margin-left: 16vw;
}


/* CUSTOM MEDIA QUERIES */
@media only screen and (max-width: 908px) {
    .headerhalfBottom {
        visibility: hidden;
    }
    .right {
        visibility: hidden;
    }
    /* .imgIG {
        background: url("images/group 650.svg") top right;
    } */

    .cardImg {
        /* display: flex;
        flex-direction: row; */

        /* top: 26.1rem; */
        position: relative;
        left: 14.5%;
        /* justify-content: center; */
        /* background-color: #84d888; */
        /* border-color: black; */
        height: 138px;
        width: 22.8vw;
        margin: 5px;
        margin-top: 50px;
    }

    .cardContent {
        height: 198px;
        width: 22.8vw;
        margin: 5px;
        /* margin-top: 50px; */
        box-sizing: border-box;
        padding: 10px;
    }

    /* .footerNavItems {
        display: flex;
        flex-direction: column;
        position: relative; */
        /* justify-content: space-between; */
        /* margin-left: 2rem; */
    /* } */

}

@media only screen and (max-width: 675px) {
    .cardImg {
        /* display: flex;
        flex-direction: row; */

        /* top: 26.1rem; */
        position: relative;
        left: 14.5%;
        /* justify-content: center; */
        /* background-color: #84d888; */
        /* border-color: black; */
        height: 124px;
        width: 22.8vw;
        margin: 5px;
        margin-top: 50px;
    }

    .hamburger {
        visibility: visible;
    }
    .headerhalfBottom {
        visibility: hidden;
    }
    .right {
        visibility: hidden;
    }
    /* .imgIG {
        background: url("images/group 650.svg") top right;
    } */

    .cardContent {
        height: 124px;
        width: 22.8vw;
        margin: 5px;
        /* margin-top: 50px; */
        box-sizing: border-box;
        padding: 10px;
    }

    .footerNavItems {
        display: flex;
        /* flex-direction: column; */
        position: relative;
        /* justify-content: space-between; */
        margin-left: 1rem;
    }

    .contentDisappear {
        visibility: hidden;
    }
}


@media only screen and (max-width: 428px) {
    .headerhalfBottom {
        visibility: hidden;
    }
    .right {
        visibility: hidden;
    }
    /* .imgIG {
        background: url("images/group 650.svg") top right;
    } */
    .footerNavItems {
        display: flex;
        flex-direction: column;
        position: relative;
        /* justify-content: space-between; */
        margin-left: 2rem;
    }
    .contentDisappear {
        visibility: hidden;
    }

    .footerNav {
        position: relative;
        margin-top: 48px;
        background-color: #d06969;
        height: 16rem;
        width: 100vw;
    }

}


/* embedded Google Slide Decks */
.TTslideDeck {
    position: relative;
    margin-top: 3rem;
    margin-left: 25vw;
}


/* Offered skills Section CSS */
.skillsOfferedImgContainer {
    display:flex;
    flex-direction: row;
    position: relative;
    /* margin-left:13.5vw;
    margin-right:13.5vw; */
}
.skillsCardImg {
    position: relative;
    left: 14.5%;
    height: 200px;
    width: 16.68vw;
    margin: 5px;
    margin-top: 50px;
}

.skillOne {
    background-color: #fbf4ff;
}
.skillTwo {
    background-color: #fff6f0;
}
.skillThree {
    background-color: #f0fffa;
}
.skillFour {
    background-color: #fdfdd4;
}

.skillsOfferedContentContainer{
    display:flex;
    flex-direction: row;
    position: relative;
    left: 14.5%;
}

.skillCardContent {
    position: relative;
    /* left: 14.5%; */
    height: 5rem;
    width: 15.64vw;
    margin: 5px;
    margin-top: -0.36rem;
    padding: 10px;
}